/* 預設的路由動畫 */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

/* 可幫頁面客製化路由動畫，page 元件中加上 transition: 'test' */
.test-enter-active,
.test-leave-active {
  transition: opacity 0.5s;
}

.test-enter,
.test-leave-active {
  opacity: 0;
}
